<router-outlet></router-outlet>

<div [ngSwitch]="begin">

    <form #form="ngForm" *ngSwitchCase="false" (ngSubmit)="poslitotam()">
        <input placeholder="Počet Karet" #number="ngModel" [(ngModel)]="input" name="count" required type="count">
        <button> Start</button>
    </form>

    <div class="d-flex flex-row flex-wrap justify-content-between" style="width: 100vw;" *ngSwitchCase="true">
        <div *ngFor="let Karta of karticky" class="border p-10 " (click)="otocit(Karta)"
             style="cursor: pointer; height: 100px; width: 100px; overflow: hidden">
            <span *ngIf="Karta.otoceno" class=" bg-info mb-3">{{Karta.ikonka}}</span>
        </div>
    </div>
</div>
